<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gestion</title>
</head>
<body>
    <h1>Registro De Clientes</h1>

    <div>
        {% for value in listaP %}
        <p>Nombre Cliente: {{value}}</p>
        {%endfor%}
    </div>
     <div>
        {% for value in listaM %}
        <p>Celular: {{value}}</p>
        {%endfor%}
    </div>

    <form action="/guardar" method="POST">
        <input
                name="cliente"
                type="text">
                <placeholder>Ingrese Su Nombre</placeholder>

        <input
                name="celular"
                type="text">
        <placeholder>Ingrese Su Celular</placeholder>

        <input type="submit" value="Guardar">
        </form>
<div>
    <p>Resultado De La Busqueda: {{vPro}} celular: {{vMasco}}</p>
     <form action="/buscar" method="POST">
        <input
                name="bCliente"
                type="text">
                <placeholder>Ingrese Su Nombre</placeholder>

        <input type="submit" value="buscar">
        </form>
</div>
</body>
</html>